h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50pt;
    text-align: center;
    color: black;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 20pt;
    text-align: center;
    color: black;
}

header {
    background-color: ;
}

nav a {
    width: 100%;
    padding-left: 20pt;
    padding-right: 20pt;
}

p, a {
    font-family: 'Open Sans Condensed', sans-serif;
} 

a:hover {
    color: grey;
}

h1 a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

nav a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}