h1, h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: black;
}


h1 {
    font-size: 40pt;
    text-align: center;
    color: black;
}

h2 {
    font-size: 20pt;
    text-align: center;
    color: black;
}

nav {

}

#MainTitleSubtitle {
    font-size: 15pt;
    text-align: center;
    color: black;
}